html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.snap-container {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.snap-section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

header, footer {
    position: fixed;
    left: 0;
    width: 100%;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

.content {
    max-width: 1000px;
    width: 90%;
    margin: auto;
}
